<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huaweicloud.sdk.iot.device.demo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BootstrapActivity"
            android:label="引导页面">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="设备接入">

        </activity>
        <activity android:name=".PropertyActivity"
            android:label="设备属性">

        </activity>

        <activity android:name=".MessageActivity"
            android:label="设备消息和命令">

        </activity>

        <activity android:name=".OTAActivity"
        android:label="软固件升级">

        </activity>

        <activity android:name=".FileManagerActivity"
            android:label="文件上传/下载管理">

        </activity>

        <activity android:name=".TopicActivity"
            android:label="自定义Topic通信">

        </activity>

        <activity android:name=".V3Activity"
            android:label="V3接口通信">

        </activity>

    </application>

</manifest>